# Hello World in Python

In [1]:
# 결과물을 화면에 출력
print ("Hello World!")

Hello World!

In [2]:
print ("Hello\tWorld")

Hello	World

In [3]:
print ("Hello\nWorld!")

Hello
World!

In [4]:
help(print) # help 함수 : 함수의 도움말

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
print ('18','12','01')

18 12 01

In [6]:
print ('18','12','01', sep='-')

18-12-01

# Python as calculator

In [7]:
# 덧셈
1 + 1

2

In [8]:
# 뺄셈
130 - 2.0

128.0

In [9]:
# 나눗셈
131 / 2

65.5

In [10]:
# 곱셈
2 * 3

6

In [11]:
# 거듭제곱(pow function)
2 ** 3

8

In [12]:
# 나머지
10 % 3

1

In [13]:
# 몫
10 // 3

3

In [14]:
# 반올림
round(131 / 2)

66

In [15]:
# 12345 와 67890 을 곱한 결과를 화면에 출력하시오

In [16]:
# 모듈(module) : 함수나 변수 또는 클래스 들을 모아 놓은 파일
import math

In [17]:
# 올림
math.ceil(131 / 2)

66

In [18]:
# 버림
math.floor(131 / 2)

65

# Python indentations
파이썬은 코드 블록을 나타내기 위해 들여쓰기를 사용함(C/C++, Java 등의 타 언어는 { } 사용)

코드 블록 : 특정한 동작을 위해서 코드가 모여 있는 상태

In [19]:
if 5 > 2:
    print("Hello, World")
    print("Five is bigger than Two.")

Hello, World
Five is bigger than Two.

In [20]:
if 5 > 2:
    print("Hello, World")
print("Five is bigger than Two.")

Hello, World
Five is bigger than Two.

In [21]:
if 5 < 2:
    print("Hello, World")
print("Five is bigger than Two.")

Five is bigger than Two.

In [22]:
if 5 > 2:
print("Hello, World")
print("Five is bigger than Two.")

IndentationError: expected an indented block (<ipython-input-22-a43769f3b9f9>, line 2)

# Python variable types

지금부터 다양한 Python의 변수 type들을 배워보자.

기억할 점은, Python의 모든 변수(variable)은 클래스로 정의된 객체라는 점이다.

![title](cookie.png)

과자틀 → 클래스 (class)

과자틀에 의해서 만들어진 과자들 → 객체 (object)

In [23]:
class cookie:
    
    shape = "circle" # attribute
    
    def __init__(self, topping): 
        self.topping = topping
     
    def print_info(self): # method
        print ('This is ' + self.topping + ' cookie')

In [24]:
c1=cookie('chocolate')
print (c1.shape)
c1.print_info()

circle
This is chocolate cookie

In [25]:
c2=cookie('vanilla')
print (c2.shape)
c2.print_info()

circle
This is vanilla cookie

In [26]:
c3=cookie('melon')
print (c3.shape)
c3.print_info()

circle
This is melon cookie

In [27]:
x = 5
y = 2.5
z = "John"
print(x)
print(x+y)
print(z)

5
7.5
John

In [28]:
x = 5
print (x)
x = "five"
print (x)

5
five

In [29]:
print ('x is', x)
print ('y is', y)
print ('His name is', z)

x is five
y is 2.5
His name is John

## 1. Python Numbers

Python에는 세 가지 수치 타입이 있다.

- 정수형(integer)인 int.
- 소수형(floating number)인 float
- 복소수형(complex number)인 complex

In [30]:
x = 1 
y = 2.8 
z = 2 + 1j

In [31]:
print(type(x)) # int 클래스의 객체
print(type(y)) # float 클래스의 객체
print(type(z)) # complex 클래스의 객체

<class 'int'>
<class 'float'>
<class 'complex'>

## 2. String

In [32]:
a = "Hello, World!"

In [33]:
print(type(a)) # string 클래스의 객체
print(a[0], a[1], a[2], a[3], a[4]) # indexing

<class 'str'>
H e l l o

In [34]:
a.index('W')

7

In [35]:
a.find('W')

7

In [36]:
len(a)

13

In [37]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [38]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [39]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [40]:
dir(a) # 해당 객체가 어떤 변수와 메소드(method)를 가지고 있는지 보여줌

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
# dir 함수를 사용하여 "Hello, World!" 를 "Hellz, Wzrld!"로 바꾼 결과를 출력하시오. (알파벳 'o' -> 'z' 로 대체)

In [42]:
a = "Hello, Warld!"
a[8] = 'o' # I want to change 'a' to 'o' : impossible (String : immutable object)

TypeError: 'str' object does not support item assignment

In [43]:
"Python is " + "fun"

'Python is fun'

In [44]:
"Python" * 3

'PythonPythonPython'

## 3. List

In [45]:
thislist = [1, 2, 3]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2],
      "\nlast value:", thislist[-1])

[1, 2, 3]
<class 'list'>
index 0 : 1
index 1 : 2
index 2 : 3
last value: 3

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist[2] = "strawberry"
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2])

['apple', 'banana', 'strawberry']
<class 'list'>
index 0 : apple
index 1 : banana
index 2 : strawberry

In [47]:
thislist = [1, "banana", [1]]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2])

[1, 'banana', [1]]
<class 'list'>
index 0 : 1
index 1 : banana
index 2 : [1]

### 3-1. List slicing

In [48]:
# How to slice our list?
thislist = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]
newlist = thislist[2:6]
print(newlist)

[3, 4, 5, 6]

In [49]:
newlist = thislist[:]
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
anotherlist = [3, 5, 7, 9, 11 ,13, 15, 17, 19]

# 4th ~ 8th elements ( new list will have 5 elements)
# correct answer : [9, 11, 13, 15, 17]

start = 
end = 
newlist = anotherlist[ start : end ]
print(newlist)

SyntaxError: invalid syntax (<ipython-input-50-f6d79927a8d1>, line 6)

In [51]:
thislist = [[1,2,3],[4,5,6],[7,8,9]]
newlist = thislist[1]
print (newlist)

[4, 5, 6]

In [52]:
thislist = [[1,2,3],[4,5,6],[7,8,9]]
newlist = thislist[0:2]
print (newlist)

[[1, 2, 3], [4, 5, 6]]

In [53]:
# we want element 3
newlist = 
print (newlist)

SyntaxError: invalid syntax (<ipython-input-53-9aba5ff0968f>, line 2)

In [54]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [55]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [56]:
# 리스트 a = [1, 2, 3] 에 원소 4(b)를 추가하고 싶다면? (append 사용)
a = [1,2,3]
b = 4
# Type your code here

print (a)
print (len(a))

[1, 2, 3]
3

In [57]:
a = [1,1005,24,267,1,6,3,78,9,37,9,47]

In [58]:
a.sort()
print (a)

[1, 1, 3, 6, 9, 9, 24, 37, 47, 78, 267, 1005]

## 4. tuple

In [59]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [60]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

tuple은 list와 동일하게 element에 접근할 수 있다. 그러나 element의 변경을 허용하지 않도록 의도할 때 list 대신 사용한다.

In [61]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "mango"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [62]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[0:2])

('apple', 'banana')

In [63]:
("apple", "banana", "cherry") + ("mango",)

('apple', 'banana', 'cherry', 'mango')

In [64]:
("apple", "banana", "cherry") * 2

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## 5. dictionary

Dictionary는 key와 value를 한 쌍으로 가지는 element들의 집합이다.

In [65]:
# 직접 생성
thisdict = {
  "name": "Damian",
  "height": 180,
  "weight": 60
}
print(thisdict)
print(type(thisdict))

{'height': 180, 'weight': 60, 'name': 'Damian'}
<class 'dict'>

In [66]:
# dict() 사용
thisdict = dict(
    name = "Damian",
    height = 180,
    weight = 60
)
print(thisdict)
print(type(thisdict))

{'height': 180, 'weight': 60, 'name': 'Damian'}
<class 'dict'>

In [67]:
# from other types
info = [('name','Damian'),('height',180),('weight',60)]
thisdict = dict(info)
print (thisdict)
print(type(thisdict))

{'height': 180, 'weight': 60, 'name': 'Damian'}
<class 'dict'>

In [68]:
x = thisdict["name"]
print('value :', x)

value : Damian

In [69]:
# 새로운 정보 추가
thisdict["age"] = 25
print (thisdict)

{'age': 25, 'height': 180, 'weight': 60, 'name': 'Damian'}

In [70]:
# 본인의 정보(이름, 나이, 성별)로 이루어진 딕셔너리를 만들어보시오.

## 6. Set

중복을 허용하지 않고 순서가 없다. / 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형

In [71]:
print ({1,1,2,3,3,4})

{1, 2, 3, 4}

In [72]:
print ({"a",4,2,4,"a","b",True})

{True, 2, 4, 'a', 'b'}

In [78]:
# from string
set('apple')

{'a', 'e', 'l', 'p'}

In [73]:
# from tuple
set((1,1,2,3,3,4))

{1, 2, 3, 4}

In [74]:
# from list
set([1,1,2,3,3,4])

{1, 2, 3, 4}

In [75]:
# from dictionary
set({'a':1, 'b':2, 'c':3})

{'a', 'b', 'c'}

In [76]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print (s1.intersection(s2)) # s1 & s2
print (s1.union(s2)) # s1 | s2
print (s1.difference(s2)) # s1 - s2

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

## 7. Boolean

참(True)과 거짓(False)을 나타내는 자료형으로 무엇인가를 판단할 때 사용

조건문의 결과값으로 사용

In [77]:
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

# Control statement

비교 연산자 : 참/거짓을 판단하기 위해 사용되며 참일 경우 True, 거짓일 경우 False를 반환

In [ ]:
print (True == 1)

In [ ]:
print (False == 0)

In [ ]:
print (True == False)

In [ ]:
print (2 > 0)

In [ ]:
print (1 != 2)

논리 연산자 (and : 모두 참이여야 참 / or : 하나라도 참이면 참 / not : 반대)

In [ ]:
print (True and True)

In [ ]:
print (1==1 and 2==2)

In [ ]:
print (True or False)

In [ ]:
print (1==1 or 1==2)

In [ ]:
print (not True)

## 1. Conditional statement 
조건에 따라 다른 Action을 실행

#### if 문 : 조건 검사 후 True 이면 실행

In [ ]:
a = 10
b = 1

if a > b:
    print ('a is greater than b')

if a < b:
    print ('a is smaller than b')

In [ ]:
""" 다음 문장을 코드로 작성하시오.
x = 10
y = 20

만약 y 가 x의 2배라면,
    문자열 'YES' 를 출력하시오.
"""
# Type your code here

#### elif 문 : if 문이 false 이고, 다른 추가적인 조건을 줄 때 사용

In [ ]:
a = 10
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')

#### else 문 : if 문과 elif 문 검사 후, 둘 다 false 일 때 실행

In [ ]:
a = 1
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')
else:
    print ('a is smaller than b')

In [ ]:
""" 다음 문장을 코드로 작성하시오.
x = 10
y = 20

만약 y 가 x의 3배라면,
    문자열 'YES' 를 출력하시오.
그렇지 않다면,
    문자열 'NO' 를 출력하시오.
"""
# Type your code here

In [ ]:
name = "Damian"
age = 22

if age < 10:
    pass
elif name == 'Damian' and age < 20:
    print("Damian is a teenager")
elif age > 30:
    print("Damian is an uncle")
else: 
    print("Damian is awesome!!!")

In [ ]:
num = 10

if num > 0:
    if num % 2 == 0:
        print ('num is even number')
elif num == 0:
    print ('num is zero')
else:
    print ('num is negative')

#### in 연산자 : 순환가능한 객체 내에 특정 element가 존재하는지 확인

Iterable 의 의미는 member를 하나씩 차례로 반환 가능한 object 이다. 
    ex) list, string, tuple

In [ ]:
"apple" in ["apple", "banana", "cherry"]

In [ ]:
"apple" in ["APPLE", "banana", "cherry"]

#### 참고 : Set VS List (performance)

In [ ]:
import time 
l = list(range(1000000))
s = set(l)

start = time.time()
if 99999 in l:
    print ('list performance :', time.time() - start)

start = time.time()
if 99999 in s:
    print ('set performance :', time.time() - start)

#### is 연산자 : 같은 객체인지 확인  
#### == : 값들이 같은지 확인

In [ ]:
# 모든 객체는 id를 가지고 있음
a = 1
b = "apple"

print (id(a))
print (id(b))

In [ ]:
x = [1,2,3]
y = [1,2,3]

print (x == y)
print (x is y)
print ("x id :", id(x))
print ("y id :", id(y))

## 2. Looping statement
반복하여 Action을 실행

#### for 문 : 순환가능한 객체에 차례로 접근

In [ ]:
for i in 'cat':
    print (i)

In [ ]:
for i in [1,2,3]:
    print (i)

In [ ]:
for i in (10,20,30):
    print (i)

In [ ]:
for i in {'name':'Damian', 'age':22}:
    print (i)

In [ ]:
for x in range(10): # range 함수 : 순차적으로 증가 또는 감소하는 숫자 생성 / 메모리 효율성
    print(x)

In [ ]:
list_from_range = list(range(10))
print (list_from_range)

In [ ]:
# range 함수를 사용하여, 리스트 [20, 15, 10, 5, 0] 를 생성하시오.
start = 
stop = 
step = 

answer = list(range(start, stop, step))
print (answer)

In [ ]:
import sys

print ('memory for range(10) : ' , sys.getsizeof(range(10)))
print ('memory for range(100) : ' , sys.getsizeof(range(100)))
print ('memory for list(10) : ', sys.getsizeof(list(range(10))))
print ('memory for list(100) : ', sys.getsizeof(list(range(100))))

#### while 문 : 조건문이 참인 동안 실행

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

#### break 문 : 가장 내부의 반복문 빠져나감
#### continue 문 : 다음 순환을 실행
#### else : break 만나지 않고 정상적으로 반복문이 종료되었을때 실행

In [ ]:
for i in range(1,11):
    if i > 5 :
        break 
    print (i)
else : 
    print ("Exit without break")

In [ ]:
for i in range(1,11):
    if i % 2 == 0 :
        continue 
    print (i)
else : 
    print ("Exit without break")

In [ ]:
# 1부터 20까지의 리스트 [1,2,3,...,20]를 만들고 홀수만 출력하시오.
a = list(range())

for element in a:
    if (): # 홀수인지 확인
        print (element)

# Module
함수, 변수, 클래스 들을 모아 놓은 파일 (.py)

## 1. sys module

In [ ]:
import sys
sys.path # 파이썬 모듈들이 저장된 위치

sys.path.append("내가 만든 모듈이 있는 디렉토리") : 디렉토리 추가

In [ ]:
# test_module.py 라는 모듈을 import 하여 뺄셈을 수행하시오.
import test_module

obj = test_module.Calculator(10,2)
obj.sub()

## 2. os module

In [ ]:
import os
os.getcwd() # 현재 디렉토리 확인

In [ ]:
os.environ['HOME'] # HOMEPATH

os.environ : 시스템 환경 변수 확인 (os.environ['HOME'])
 
os.listdir("특정 디렉토리") : 특정 디렉토리에 있는 모든 파일

os.path.dirname(os.path.abspath(__file__)) : 해당 파일이 존재하는 디렉토리

## 3. time module

In [ ]:
import time
time.strftime('%c', time.localtime(time.time()))

In [ ]:
help(time.strftime)

# Function
함수(Function)은 호출됐을 때만 실행되는 code block을 말한다. 우리는 function에 적절한 input을 주어 결과로서 처리된 output을 얻을 수 있다.

반복되는 일을 처리 / 가독성

In [ ]:
# Creating a Function
def my_function():
    print("Hello, this is my first function")

In [ ]:
# Calling a Function
my_function()

In [ ]:
# function은 input을 받아 output을 return한다.
def my_function(x):
    return x*2

print(my_function(2))
print(my_function(4))
print(my_function(7))

In [ ]:
# input x를 받아서 x+2를 출력하는 함수를 생성하시오.

In [ ]:
# function을 통해 input에 따른 더 복잡한 형태의 처리도 가능하다.
def my_function(x):
    if x < 3:
        output = x*2
    elif x < 5:
        output = x*3
    else:
        output = x*4
    return output

print(my_function(2))
print(my_function(4))
print(my_function(7))

In [ ]:
# 서로 다른 3개의 정수를 받아 가장 큰 값을 출력하는 함수를 만드시오.