# Hello World in Python

In [5]:
# 결과물을 화면에 출력
print ("Hello World!")

Hello World!

In [4]:
print ("Hello\tWorld")

Hello	World

In [150]:
print ("Hebllo\nWorld!")

Hebllo
World!

In [151]:
help(print) # help 함수 : 함수의 도움말

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [155]:
print ('18','12','01', sep = '-')

18-12-01

# Python as calculator

In [6]:
# 덧셈
1 + 1

2

In [7]:
# 뺄셈
130 - 2.0

128.0

In [8]:
# 나눗셈
130 / 2

65.0

In [9]:
# 나눗셈
131 / 2

65.5

In [10]:
# 곱셈
2 * 3

6

In [11]:
# 거듭제곱(pow function)
2 ** 3

8

In [12]:
# 나머지
10 % 3

1

In [21]:
# 몫
10 // 3

3

In [29]:
# 모듈(module) : 함수나 변수 또는 클래스 들을 모아 놓은 파일
import math

In [25]:
# 반올림
round(131 / 2)

66

In [30]:
# 올림
math.ceil(131 / 2)

66

In [31]:
# 버림
math.floor(131 / 2)

65

# Python indentations
Python uses indentation to indicate a block of code, while many languages like C/C++, Java uses {, } symbols.

In [42]:
if 5 > 2:
    print("Hello, World")
    print("Five is bigger than Two.")

Hello, World
Five is bigger than Two.

In [44]:
if 5 > 2:
    print("Hello, World")
print("Five is bigger than Two.")

Hello, World
Five is bigger than Two.

In [45]:
if 5 < 2:
    print("Hello, World")
print("Five is smaller than Two.")

Five is smaller than Two.

In [46]:
if 5 > 2:
print("Hello, World")
print("Five is bigger than Two.")

IndentationError: expected an indented block (<ipython-input-46-a43769f3b9f9>, line 2)

# Python variable types

지금부터 다양한 Python의 변수 type들을 배워보자.

기억할 점은, Python의 모든 변수(variable)은 클래스로 정의된 객체라는 점이다.

![title](cookie.png)

과자틀 → 클래스 (class)

과자틀에 의해서 만들어진 과자들 → 객체 (object)

class cookie:
    
    count = 0 # attribute
    
    def __init__(self, topping): # method 1
        self.topping = topping
        cookie.count += 1
     
    def print_info(self): # method 2
        print (cookie.count,'th cookie is created')
        print ('cookie topping :', self.topping)

c1=cookie('chocolate')
c1.print_info()

c2=cookie('vanilla')
c2.print_info()

c3=cookie('melon')
c3.print_info()

In [143]:
x = 5
y = 2.5
z = "John"
print(x)
print(x+y)
print(z)

5
7.5
John

In [144]:
print ('x is', x)
print ('y is', y)
print ('His name is', z)

x is 5
y is 2.5
His name is John

## 1. Python Numbers

Python에는 세 가지 수치 타입이 있다.

- 정수형(integer)인 int.
- 소수형(floating number)인 float
- 복소수형(complex number)인 complex

In [94]:
x = 1 
y = 2.8 
z = 2 + 1j

In [95]:
print(type(x)) # int 클래스의 객체
print(type(y)) # float 클래스의 객체
print(type(z)) # complex 클래스의 객체

<class 'int'>
<class 'float'>
<class 'complex'>

## 2. String

In [148]:
"Python is " + "fun"

'Python is fun'

In [149]:
"Python" * 3

'PythonPythonPython'

In [156]:
a = "Hello, World!"
print(type(a)) # string 클래스의 객체
print(a[0], a[1], a[2], a[3], a[4]) # indexing

<class 'str'>
H e l l o

In [165]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [166]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [167]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [ ]:
dir(a) # 해당 객체가 어떤 변수와 메소드(method)를 가지고 있는지 보여줌

In [160]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# dir 함수를 사용하여 "Hello, World!" 를 "Hellz, Wzrld!"로 바꾼 결과를 출력하시오. ('o' -> 'z')

In [170]:
a = "Hello, Warld!"
a[8] = 'o' # I want to change 'a' to 'o' : impossible (String : immutable object)

TypeError: 'str' object does not support item assignment

## 3. List

In [193]:
thislist = [1, 2, 3]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2],
      "\nlast value:", thislist[-1])

[1, 2, 3]
<class 'list'>
index 0 : 1
index 1 : 2
index 2 : 3
last value: 3

In [178]:
thislist = ["apple", "banana", "cherry"]
thislist[2] = "strawberry"
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2])

['apple', 'banana', 'strawberry']
<class 'list'>
index 0 : apple
index 1 : banana
index 2 : strawberry

In [179]:
thislist = [1, "banana", [1]]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "\nindex 1 :" , thislist[1], 
      "\nindex 2 :" , thislist[2])

[1, 'banana', [1]]
<class 'list'>
index 0 : 1
index 1 : banana
index 2 : [1]

### 3-1. List slicing

In [180]:
# How to slice our list?
thislist = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]
newlist = thislist[2:6]
print(newlist)

[3, 4, 5, 6]

In [191]:
newlist = thislist[:]
print(newlist)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [181]:
anotherlist = [3, 5, 7, 9, 11 ,13, 15, 17, 19]

# 4th ~ 8th elements ( new list will have 5 elements)
# correct answer : [9, 11, 13, 15, 17]

start = 
end = 
newlist = anotherlist[ start : end ]
print(newlist)

[9, 11, 13, 15, 17]

In [183]:
thislist = [[1,2,3],[4,5,6],[7,8,9]]
newlist = thislist[1]
print (newlist)

[4, 5, 6]

In [190]:
thislist = [[1,2,3],[4,5,6],[7,8,9]]
newlist = thislist[0:2]
print (newlist)

[[1, 2, 3], [4, 5, 6]]

In [185]:
# we want element 3
newlist = 
print (newlist)

3

In [198]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [199]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 4. tuple

In [206]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [207]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

tuple은 list와 동일하게 element에 접근할 수 있다. 그러나 element의 변경을 허용하지 않도록 의도할 때 list 대신 사용한다.

In [205]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "mango"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [208]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[0:2])

('apple', 'banana')

In [210]:
("apple", "banana", "cherry") + ("mango",)

('apple', 'banana', 'cherry', 'mango')

In [212]:
("apple", "banana", "cherry") * 2

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## 5. dictionary

Dictionary는 key와 value를 한 쌍으로 가지는 element들의 집합이다.

In [217]:
thisdict = {
  "name": "Damian",
  "height": 180,
  "weight": 60
}
print(thisdict)
print(type(thisdict))

{'name': 'Damian', 'height': 180, 'weight': 60}
<class 'dict'>

In [218]:
x = thisdict["name"]
print('value :', x)

value : Damian

In [219]:
thisdict["age"] = 25
print (thisdict)

{'name': 'Damian', 'height': 180, 'age': 25, 'weight': 60}

## 6. Set

중복을 허용하지 않고 순서가 없다. / 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형

In [228]:
print ({1,1,2,3,3,4})
print ({'a',1,2,1,"a","b",True})

{1, 2, 3, 4}
{True, 2, 'a', 'b'}

In [229]:
# from tuple
set((1,1,2,3,3,4))

{1, 2, 3, 4}

In [230]:
# from list
set([1,1,2,3,3,4])

{1, 2, 3, 4}

In [231]:
# from dictionary
set({'a':1, 'b':2, 'c':3})

{'a', 'b', 'c'}

In [232]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print (s1.intersection(s2)) # s1 & s2
print (s1.union(s2)) # s1 | s2
print (s1.difference(s2)) # s1 - s2

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

## 7. Boolean

참(True)과 거짓(False)을 나타내는 자료형으로 무엇인가를 판단할 때 사용

조건문의 결과값으로 사용

In [243]:
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

# Control statement

비교 연산자 : 참/거짓을 판단하기 위해 사용되며 참일 경우 True, 거짓일 경우 False를 반환

In [245]:
print (True == 1)

True

In [246]:
print (False == 0)

True

In [247]:
print (True == False)

False

In [248]:
print (2 >= 0)

True

In [249]:
print (1 != 2)

True

논리 연산자 (and : 모두 참이여야 참 / or : 하나라도 참이면 참 / not : 반대)

In [250]:
print (True and True)

True

In [251]:
print (1==1 and 2==2)

True

In [252]:
print (True or False)

True

In [253]:
print (1==1 or 1==2)

True

In [254]:
print (not True)

False

## 1. Conditional statement 
조건에 따라 다른 Action을 실행

#### if 문 : 조건 검사 후 True 이면 실행

In [ ]:
a = 10
b = 1

if a > b:
    print ('a is greater than b')

if a < b:
    print ('a is smaller than b')

#### elif 문 : if 문이 false 이고, 다른 추가적인 조건을 줄 때 사용

In [ ]:
a = 10
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')

#### else 문 : if 문과 elif 문 검사 후, 둘 다 false 일 때 실행

In [ ]:
a = 1
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')
else:
    print ('a is smaller than b')

In [ ]:
name = "Damian"
age = 22

if age < 10:
    pass
elif name == 'Damian' and age < 20:
    print("Damian is a teenager")
elif age > 30:
    print("Damian is an uncle")
else: 
    print("Damian is awesome!!!")

#### in 연산자 : 순환가능한 객체 내에 특정 element가 존재하는지 확인

Iterable 의 의미는 member를 하나씩 차례로 반환 가능한 object 이다. 
    ex) list, string, tuple

In [255]:
"apple" in ["apple", "banana", "cherry"]

True

In [256]:
"apple" in ["APPLE", "banana", "cherry"]

False

#### 참고 : Set VS List (performance)

In [257]:
import time 
l = list(range(1000000))
s = set(l)

start = time.time()
if 99999 in l:
    print ('list performance :', time.time() - start)

start = time.time()
if 99999 in s:
    print ('set performance :', time.time() - start)

list performance : 0.0017473697662353516
set performance : 7.557868957519531e-05

#### is 연산자 : 같은 객체인지 확인  
#### == : 값들이 같은지 확인

In [259]:
# 모든 객체는 id를 가지고 있음
a = 1
b = "apple"

print (id(a))
print (id(b))

139936673823264
139936242030776

In [258]:
x = [1,2,3]
y = [1,2,3]

print (x == y)
print (x is y)
print ("x id :", id(x))
print ("y id :", id(y))

True
False
x id : 139936477388744
y id : 139936477388040

## 2. Looping statement
반복하여 Action을 실행

#### for 문 : 순환가능한 객체에 차례로 접근

In [260]:
for i in 'cat':
    print (i)

c
a
t

In [261]:
for i in [1,2,3]:
    print (i)

1
2
3

In [262]:
for i in (10,20,30):
    print (i)

10
20
30

In [263]:
for i in {'name':'Damian', 'age':22}:
    print (i)

name
age

In [267]:
for x in range(10): # range 함수 : 순차적으로 증가 또는 감소하는 숫자 생성 / 메모리 효율성
    print(x)

0
1
2
3
4
5
6
7
8
9

In [276]:
list_from_range = list(range(10))
print (list_from_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [278]:
# range 함수를 사용하여, 리스트 [-20, 15, 10, 5, 0] 를 생성하시오.

In [282]:
import sys

print ('memory for range(10) : ' , sys.getsizeof(range(10)))
print ('memory for range(100) : ' , sys.getsizeof(range(100)))
print ('memory for list(10) : ', sys.getsizeof(list(range(10))))
print ('memory for list(100) : ', sys.getsizeof(list(range(100))))

memory for range(10) :  48
memory for range(100) :  48
memory for list(10) :  200
memory for list(100) :  1008

#### while 문 : 조건문이 참인 동안 실행

In [283]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#### break 문 : 가장 내부의 반복문 빠져나감
#### continue 문 : 다음 순환을 실행
#### else : break 만나지 않고 정상적으로 반복문이 종료되었을때 실행

In [284]:
for i in range(1,11):
    if i > 5 :
        break 
    print (i)
else : 
    print ("Exit without break")

1
2
3
4
5

In [285]:
for i in range(1,11):
    if i % 2 == 0 :
        continue 
    print (i)
else : 
    print ("Exit without break")

1
3
5
7
9
Exit without break

# Module
함수, 변수, 클래스 들을 모아 놓은 파일 (.py)

## 1. sys module

In [286]:
import sys
sys.path # 파이썬 모듈들이 저장된 위치

['',
 '/home/dongsu/anaconda3/lib/python35.zip',
 '/home/dongsu/anaconda3/lib/python3.5',
 '/home/dongsu/anaconda3/lib/python3.5/plat-linux',
 '/home/dongsu/anaconda3/lib/python3.5/lib-dynload',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages/Sphinx-1.4.6-py3.5.egg',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages/setuptools-27.2.0-py3.5.egg',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages/IPython/extensions',
 '/home/dongsu/.ipython']

sys.path.append("내가 만든 모듈이 있는 디렉토리") : 디렉토리 추가

In [297]:
# test_module.py 라는 모듈을 import 하여 뺄셈을 수행하시오.

## 2. os module

In [309]:
import os
os.getcwd() # 현재 디렉토리 확인

'/home/dongsu/education/Python_basic'

os.environ : 시스템 환경 변수 확인 (os.environ['HOME'])
 
os.listdir("특정 디렉토리") : 특정 디렉토리에 있는 모든 파일

os.path.dirname(os.path.abspath(__file__)) : 해당 파일이 존재하는 디렉토리

## 3. time module

In [318]:
import time
time.strftime('%c', time.localtime(time.time()))

'Tue Nov 27 15:45:25 2018'

In [319]:
help(time.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

# Function
함수(Function)은 호출됐을 때만 실행되는 code block을 말한다. 우리는 function에 적절한 input을 주어 결과로서 처리된 output을 얻을 수 있다.

반복되는 일을 처리 / 가독성

In [320]:
# Creating a Function
def my_function():
    print("Hello, this is my first function")

In [321]:
# Calling a Function
my_function()

Hello, this is my first function

In [322]:
# function은 input을 받아 output을 return한다.
def my_function(x):
    return x*2

print(my_function(2))
print(my_function(4))
print(my_function(7))

4
8
14

In [323]:
# function을 통해 input에 따른 더 복잡한 형태의 처리도 가능하다.
def my_function(x):
    if x < 3:
        output = x*2
    elif x < 5:
        output = x*3
    else:
        output = x*4
    return output

print(my_function(2))
print(my_function(4))
print(my_function(7))

4
12
28

In [346]:
# 서로 다른 3개의 정수를 받아 가장 큰 값을 출력하는 함수를 만드시오.